
#tecnico{
    width: 330px;
}

#cliente{
    width: 330px;
    float: right;
    margin-top: -216px;
}

.valPre{
    float: right;
}

#status{
   float: left;
}

#submit{
    margin: 50px;
    text-align: center;
}

