html{
    background: url(Fondo.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: whitesmoke;
    font-family: Tahoma, Verdana, Sans-serif;
}


