<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Equipo</title>
        <link rel="stylesheet" type="text/css" href="../view/Css/Equipo.css"/>
    </head>
    <body>
                <div id="todo">
           
            <div id="presupuesto">
                <form action="../Controller/equipoController.php?action=presupuesto&vacio=0" method="post" 
                      oninput="total.value=parseInt(valPre.value)+parseInt(valEx.value)">                    <br>
                    <div id="problema">
                        <label for="problema">Problema:</label><br>
                            <input type="text" name="problema" id="prob" value="98798466546"><br><br>
                    </div>
                    <div id="tecnico">
                        <label for="informe">Informe Tecnico:</label><br>
                            <textarea name="infTecnico" rows="5" cols="35" id="tecnico">Formateo</textarea>
                    </div>
                    <div id="cliente">
                        <label for="informe">Informe al Cliente:</label><br>
                            <textarea name="infCliente" rows="5" cols="35" id="cliente">Formateo
</textarea>
                    </div>        
                    <div class="valor">
                        <label for="valor" class="val">Valor:</label>
                            <input type="text" name="valPre" value="500">
                    </div>
                    <div id="extras">
                        <label for="extras">Extras:</label><br>
                            <input type="text" name="extras" id="prob" value="Instalar Office">
                    </div>
                    <div class="valor">
                        <label for="valor" class="val">Valor:</label>
                            <input type="text" name="valEx" value="200">
                    </div>
                    <div id="total">
                        <label for="valor" id="val">Valor Total:</label>
                            <input type="text" name="total" for="valPre valEx" value="700"></output>

                        <label for="status">Estado:</label>
                            <select name="status">
                            <option value="0" selected>Sin revisar</option><option value="1">Presupuestado</option><option value="2">Confirmado</option><option value="3">Pronto</option><option value="4">Entregado</option>                            </select>
                    </div>
                    
                    
                        <input type="hidden" name="fecha" value=" 2015/06/02">
                        <input type="hidden" name="equipoId" value="20">
                    <div id="guardar">
                        <input type="submit" value="Guardar">
                    </div>        
                </form>
            </div>
            <div id="izquierda">
                
                <div class="dato">
                    <p class="titulo">Equipo:</p>
                        <p class="informacion">
                            PC                        </p>
                </div>
            
                <div class="dato">
                    <p class="titulo">Modelo:</p>
                        <p class="informacion">
                            Optiplex 9010                        </p>
                </div>        
                        
                <div class="dato">        
                    <p class="titulo">Marca:</p>
                        <p class="informacion">
                            Dell                        </p>
                </div>        
                        
                <div class="dato">        
                    <p class="titulo">Cliente:</p>
                        <p class="informacion">
                            Elvis Cocho                        </p>
                </div>
                        
                <div class="dato">        
                    <p class="titulo">Numero de Serie:</p>
                        <p class="informacion">
                            98798466546                        </p>
                </div>

                <div class="dato">        
                    <p class="titulo">Fecha de Ingreso:</p>
                        <p class="informacion">
                            2015-05-06                        </p>
                </div>
            </div>
            
            <a href="../Controller/EquipoController.php?equipoId=20&action=consultar">                <div id="editar">
                    <h1>Editar</h1>
                </div>
            </a>
            
            <a href="../Controller/EquipoController.php?id=20&action=desactivar">                <div id="desactivar">
                    <h1>Desactivar</h1>
                </div>
            </a>
            
            
                
            </div>
        </div>
        
        

    </body>
</html>