html{
    background: url(Fondo.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    
}

#todo{
    width: 1200px;
    font-family: Tahoma;
    margin: 0 auto;
    color: whitesmoke;
}

#presupuesto{
    width: 580px;
    height: 481px;
    background: rgba(99,99,99,0.4);
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#izquierda{
    width: 350px;
    float: left;
    background: rgba(99,99,99,0.4);
    margin-top: 20px;
    padding-left: 40px;
    font-size: 16px;
}

.dato{
    margin-top: -20px;
}

.titulo {
    color: darkcyan;
    font-size: 30px;
    font-weight: bold;
 
} 

.informacion{
    margin-left: 55px;
    margin-top: -20px;
    font-size: 26px;
}

#desactivar{
    float: right;
    width: 295px;
    height:80px;
    background: rgba(99,99,99,0.4);
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
}

#editar{
    float: right;
    width: 295px;
    height: 80px;
    background: rgba(99,99,99,0.4);
    margin-top: 10px;
    margin-right: 50px;
    text-align: center;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    color: darkcyan;
}

input[type="submit"]{
    width: 120px;
    height: 35px;
    background: rgba(0,0,0,0.0);
    border-style: solid;
    border-color: whitesmoke; 
    border-radius: 8px;
    color: whitesmoke;
    font-weight: bold;
    margin-left: 228px;
}

input[type="submit"]:active{
    color: darkcyan;
    background: rgba(0,0,0,0.3);
}

input[type="submit"]:hover{
    width: 140;
    height: 40px;
    color:darkcyan;
    border-color: darkcyan;
}

input[type="text"]{
    font-family: Tahoma;
    font-size: 18px;
    float: right;
    border-style: solid; 
    border-radius: 4px;
}


input[type="text"]:hover{
    border-color: DarkCyan;
}

input[type="text"]:focus{
    border-color: DarkCyan;
}

textarea{
    font-family: Tahoma;
    font-size: 18px;
    border-style: solid; 
    border-radius: 4px;
}

textarea:hover{
    border-color: DarkCyan;
}

textarea:focus{
    border-color: DarkCyan;
}

select{
    font-family: Tahoma;
    font-size: 18px;
    border-style: solid;
    border-radius: 4px;
}

select:hover{
    border-color: DarkCyan;
}

select:focus{
    border-color: DarkCyan;
}

#prob{
    width: 574px;
}

#tecnico{
    float: left;
    font-family: Tahoma;
    width: 280px;
}

#cliente{
    float: right;
    font-family: Tahoma;
    width: 280px;
}

#extras{
    float: left;
    width: 580px;
    margin-top: 10px;
}

.valor{
    float:right; 
    width: 580px;
    margin-top: 10px;
}

#total{
    margin-top: 10px;
    margin-right: 0px;
    width: 300px;
    float:right; 
}

#guardar{
    float: right;
    width: 580px;
    height: 50px;
    margin-top: 10px;
}

.val{
    margin-left: 320px;
}