a{
    text-decoration:none;
    color: darkcyan;
    font-style: italic;
}

a:hover{
    font-size: 25px;
}

html{
    background: url(Fondo.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    
}

body{
    font-family: Tahoma;
    color: whitesmoke;
    text-align: center;
}

table{
    font-size: 22px;
    background: rgba(0,0,0,0.3);
    text-align: center;
    margin: auto;
}

thead{
    color: black;
}

#center{
    width: 1275px;
    margin: auto;
    text-align: center;
    color: blue;
}